html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: rgb(13, 62, 123); */
}

.contain{
    margin: 80px 70px 50px;
}
.header{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: rgb(25, 81, 172);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.header ul li{
    display: inline;
    margin-right: 15px;
}

.header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header ul li a:hover{
    color: rgba(255, 255, 255, 0.43);
}

.contain-img{
    width: 90%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: navy;
}

img{
    width: 100%;
}

/* div{
    width: 300px;
    height: 300px;
    background-color: bisque;
    overflow: scroll;
    overflow: auto;
    padding: 5px;
} */

.one{
    width: 800px;
    height: 500px;
    background-color: antiquewhite;
    margin: auto;
}
.two{
    width: 100px;
    height: 100px;
    background-color: chocolate;
}
.three{
    width: 50px;
    height: 50px;
    background-color: brown;
}


.home{
    margin: 50px 0;
}


.about{
    margin: 10px 0;
    padding-top:100px ;
}

p{
    line-height: 1.6em;
    font-size: 18px;
    /* width: 90%; */
    text-align: justify;
}



.card-product{
    width: 250px;
    height: 250px;
    background-color: skyblue;
    border-radius: 40px;
    padding: 50px;
}

.card-service{
    width: 200px; height: 200px; background-color: rgb(30, 51, 210); margin-bottom: 15px; border-radius: 10px; padding: 5px 10px;
}

h2{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: navy;
}

.kiri{
    width: 150px;
    height: 500px;
    background-color: blueviolet;
    float: left;
}
.tengah{
    width: 500px;
    height: 500px;
    background-color: brown;
    float: left;
}
/* .tengah:hover{
    float: right;
} */
.kanan{
    width: 150px;
    height: 500px;
    background-color: cadetblue;
    float: left;
}

.container{
    /* border: 10px double black; */
    display: table;
    margin: auto;
    height: auto;
}

.header1{
    width: 1000px; height: 50px; background-color: black;
}

.footer1{
    width: 1000px; height: 50px; background-color: black; float:none;
}

.landing1{
    width: 1000px; height: 350px; background-color: skyblue;
}

.mainpage1{
    width: 500px; height: inherit; background-color:antiquewhite; float: left;
}

.sidepage1{
    width: 250px; height: inherit; background-color:rgb(204, 204, 204); float: left;
}








.header2{
    width: 1000px; height: 50px; background-color: black; display: flex; align-items: center; justify-content: space-between;
}

.landing2{
    width: 1000px; height: 350px; background-image: url(bg-jpn.jpg);
}

.footer2{
    width: 1000px; height: 50px; background-color: black;
}


.box{
     width: 250px; height: 250px; background-color:rgb(204, 204, 204); float: left;
}
.box:first-of-type{
     background-color:#314964;
}
.box:nth-of-type(2){
     background-color:#2b2f3c;
}
.box:nth-of-type(3){
     background-color:#8e5ea2;
}
.box:last-of-type{
     background-color:#98bec8;
}

.mainpage2{
    width: 1000px; height: 800px; background-color:#FDF0EC;
}

.sidepage1{
    width: 250px; height: inherit; background-color:rgb(204, 204, 204); float: left;
}

.header2 ul li{
    display: inline;
    margin-right: 15px;
}

.header2 ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}